{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Создать новую книгу</h1>

    {{ include('book/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('book_index') }}">вернуться к списку</a>
{% endblock %}
